@font-face { font-family: 'Montserrat', sans-serif; 
    src: url('../fonts/Montserrat-Regular.ttf');
    src: url('../fonts/Montserrat-Bold.ttf');
    src: url('../fonts/Montserrat-Thin.ttf'); 
  }
    
  @font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/Lato-Regular.ttf');
    src: url('../fonts/Lato-BoldItalic.ttf');
      }
  