$base-font:'Montserrat';
$secondary-font:'Lato';
$accent-color: #8D81AC;
$secondary-color: rgb(165, 211, 96);
$mobile-size: 320px;
$desktop-size: 768px;
$notebook-size: 1200px;
$margin-center: 0 auto;